.center
{
text-align: center;
margin: auto;
width: 100;
border: 3px solid white;
padding: 10px;
}

#mainTitle{
    text-align: center;
    text-shadow: 2px 2px white;

}

#firstArticle {
    text-align: center;
    text-shadow: 2px 2px white;
    font-size: 30px;
    font-weight: 900;
    height: 400;
    width: 75;
    background-color: aliceblue;
    box-shadow: 10px 10px light pink;
}

nav ul li a {
   color: red;
   font-size: 30px;
   text-decoration: none;
   font-weight: 900;
}

nav ul li a:hover {
    color: pink;
    text-decoration: underline;
}

nav ul li {
    display: inline;
    margin: 0px 30px 0px 30px; /* Top Right Bottom Left*/
}

nav ul {
    text-align: center;
}

#myLinks{
    border-style: outset;
    padding: 10px;
    border-width: 5px;
    background-color: #ed7aff;

}

footer{
    position: absolute;
    bottom: 0;
    border-style: solid;
    padding: 10px;
    /* border-width: 20px 5px; */
    background-color: #ed7aff;
    width: 100%;
    clear: both;

}
.title{
    text-align: center;
}
#about{
    background-color: aqua;
}
#signUp{
background-color: light rgb(209, 209, 128);
text-align: center;
}
#signup2{
    border: 1px solid palevioletred;
}
#form{
  color: blueviolet;
}


.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
 


