.center
{
text-align: center;
margin: auto;
width: 100;
border: 3px solid white;
padding: 10px;
}

#mainTitle{
    text-align: center;
    text-shadow: 2px 2px white;

}

#firstArticle {
    text-align: center;
    text-shadow: 2px 2px white;
    font-size: 30px;
    font-weight: 900;
    height: 400;
    width: 75;
    background-color: aliceblue;
    box-shadow: 10px 10px light pink;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: blanchedalmond;
}
li{
  list-style: none;  
}

a{
  color:rgb(97, 15, 173) ;
  text-decoration: none; 
  
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.nav-branding{
    font-size: 2rem;
}
.nav-link{
    transition: 0.7s ease;
}
.nav-link:hover{
    color:aqua;
}
.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: white;
}
/* 
@media(max-width:768px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

        .hamburger.active .bar:nth-child(1){
           transform: translateY(8px) rotate(45deg);
        }
    
    
}

 */


/* nav ul li a {
   color: red;
   font-size: 30px;
   text-decoration: none;
   font-weight: 900;
}

nav ul li a:hover {
    color: pink;
    text-decoration: underline;
}

nav ul li {
    display: inline;
    margin: 0px 30px 0px 30px; /* Top Right Bottom Left*/
/* }

nav ul {
    text-align: center;
} */ */

/* #myLinks{
    border-style: outset;
    padding: 10px;
    border-width: 5px;
    background-color: #ed7aff;

} */

footer{
    position: absolute;
    bottom: 0;
    border-style: solid;
    padding: 10px;
    /* border-width: 20px 5px; */
    background-color: #ed7aff;
    width: 100%;
    clear: both;

}
.title{
    text-align: center;
}
#about{
    background-color: aqua;
}
#signUp{
background-color: light rgb(209, 209, 128);
text-align: center;
}
#signup2{
    border: 1px solid palevioletred;
}
#form{
  color: blueviolet;
}


